- if pending_images.empty?
  %h1 There are no new images
- else
  %h1 Newest unapproved images
%ul.thumbnails
  - pending_images.each do |image|
    %li.span3{id: "image_block_#{image.id}"}
      .thumbnail
        = link_to image_tag(image.photo.list.url, height: "100"), image.photo.url
        = simple_form_for([admin, image], remote: true) do |form|
          = form.hidden_field :state, value: "approved"
          = form.submit "Approve"
          = link_to "Reject", admin_image_path(admin_id: admin, id: image), remote: true, method: "DELETE"
